{% macro listCard(list, read) %}
	<div class="card" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">{{list.name}}</h5>
			<p class="card-text">
				{{list.description}}
			</p>
			<p class="card-text">
				{% for todo in list.todos %}
					<div>
						<input type="checkbox" name="{{todo}}" id="{{todo}}">
						<label for="{{todo}}">{{todo}}</label>
					</div>
				{% endfor %}
			</p>
			{% if read %}
				<a href="/read?listName={{list.name}}" class="btn btn-primary" title="Lire">
					<i class="fa-regular fa-eye"></i>
				</a>
			{% endif %}


			<a href="/update" class="btn btn-warning" title="Modifier">
				<i class="fa-solid fa-pen"></i>
			</a>
			<a href="/delete" class="btn btn-danger" title="Supprimer">
				<i class="fa-solid fa-trash"></i>
			</a>

		</div>
	</div>
{% endmacro %}
