{% macro listCard(list, read) %}
	<div class="card" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">{{list.name}}</h5>
			<p class="card-text">
				{{list.description}}
			</p>
			<p class="card-text">
				{% for task in list.tasks %}
					<div>
						<input type="checkbox" name="{{task}}" id="{{task}}">
						<label for="{{task}}">{{task}}</label>
					</div>
				{% endfor %}
			</p>
			{% if read %}
				<a href="/read/{{list.id}}" class="btn btn-primary" title="Lire">
					<i class="fa-regular fa-eye"></i>
				</a>
			{% endif %}

			{% if is_granted("IS_AUTHENTICATED_FULLY") %}
				<a href="/update/{{list.id}}" class="btn btn-warning" title="Modifier">
					<i class="fa-solid fa-pen"></i>
				</a>
				<a href="/delete/{{list.id}}" class="btn btn-danger" title="Supprimer">
					<i class="fa-solid fa-trash"></i>
				</a>
			{% endif %}
		</div>
	</div>
{% endmacro %}
