{% extends "base.html.twig" %}

{% block title %}
	{{parent()}}
	- 
	Toutes les listes
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<style>
		body {
			background-color: lightgray;
		}
	</style>
{% endblock %}

{% block body %}
	<main class="container mt-3">
		{{title | raw}}
		{{"now"|date("D/M/y")}}
		<p>Ma liste de listes contient
			{{lists|length}}
			listes.</p>
		<div class=" d-flex justify-content-around ">
			{% for list in lists %}
				{# {{dump(list)}} #}
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">{{ list }}</h5>
						<p>{{"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda consequuntur porro reprehenderit iste repellendus consectetur, nostrum repudiandae tempora facere hic dignissimos autem mollitia dicta magni ullam neque incidunt voluptatibus vero."}}</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}
